<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Mới hơn</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; Mới hơn</span>
  {% endif %}

  <span class="pagination  pagination--counter">Trang: {{ paginator.page }} trên {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">Cũ hơn &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">Cũ hơn &rarr;</span>
  {% endif %}

</nav>
